.button {
  padding: 0;
  border: none;
  font: inherit;
  background-color: var(--color-action);
  padding: 0 29px;
  line-height: 32px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: baseline;
  -webkit-tap-highlight-color: transparent;
  transition: color 0.3s, background-color 0.3s;
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-action-hover);
  }
}
.button:active {
  background-color: var(--color-action-active);
  color: rgba(255, 255, 255, 0.6);
}

.button--large {
  font-size: 20px;
  line-height: 48px;
  padding: 0 22px;
}

.button__icon {
  margin-right: 6px;
}
