.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox__input {
  position: fixed;
  top: -1000vw;
}

.checkbox__box {
  width: 24px;
  height: 24px;
  outline: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox:hover .checkbox__box {
  outline-color: rgba(0, 0, 0, 0.35);
}
/* .checkbox__input:active ~ .checkbox__box {
  outline: 2px solid var(--color-action-hover);
} */

.checkbox__icon-path {
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
}
.checkbox__input:checked ~ .checkbox__box .checkbox__icon-path {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.2s;
}
