.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.checkbox__input {
  position: fixed;
  top: -1000vw;
}

.checkbox__box {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: border-color 0.3s;
}
.checkbox:hover .checkbox__box::after {
  border-color: rgba(0, 0, 0, 0.35);
}
/* .checkbox__input:active ~ .checkbox__box::after {
  border-width: 2px;
  border-color: var(--color-action-hover);
} */

.checkbox__icon-path {
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
}
.checkbox__input:checked ~ .checkbox__box .checkbox__icon-path {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.2s;
}
