.header {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-right: auto;
  position: relative;
  transition: color 0.3s;
}
@media (hover: hover) {
  .header__logo:hover {
    color: var(--color-action-hover);
  }
}
.header__logo:active {
  color: var(--color-action-active);
}

.header__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-tap-highlight-color: transparent;
}

.header__title {
  margin: 0;
  margin-left: 8px;
  font-weight: normal;
  display: inline;
  font-family: var(--font-narrow);
  font-size: 64px;
  line-height: 1;
}

.header__nav {
  display: flex;
}

.header__nav-item {
}
.header__nav-item:not(:last-child) {
  margin-right: 19px;
}

.header__button {
  margin-left: 19px;
}

@media (max-width: 920px) {
  .header {
    flex-direction: column;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__nav {
    margin-top: 20px;
  }
  .header__button {
    margin-left: 0;
    margin-top: 15px;
  }
}
