.input-group {
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: 18px;
  align-items: center;
}

.input-group__label {
  padding-right: 25px;
  -webkit-tap-highlight-color: transparent;
}

.input-group__field {
  position: relative;
}

.input-group__field-input {
  border: none;
  font: inherit;
  padding: 7px 11px;
  outline: none;
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.input-group__field-input::placeholder {
  color: var(--color-dim);
}

.input-group__field-outline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  pointer-events: none;
  transition: border-color 0.3s;
}
@media (hover: hover) {
  .input-group__field:hover .input-group__field-outline {
    border-color: rgba(0, 0, 0, 0.35);
  }
}
.input-group__field-input:focus ~ .input-group__field-outline {
  border-width: 2px;
  border-color: var(--color-action-hover);
}

.input-group__description {
  margin-top: -11px;
  font-size: 14px;
  color: var(--color-dim);
}

@media (max-width: 375px) {
  .input-group {
    grid-template-columns: 1fr;
    row-gap: unset;
  }
  .input-group__label {
    padding-right: 0;
    padding-bottom: 8px;
  }
  .input-group__field {
    margin-bottom: 23px;
  }
}
