.link {
  text-decoration: none;
  color: var(--color-action);
  font-size: 16px;
  position: relative;
  white-space: nowrap;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transition: color 0.3s;
}
@media (hover: hover) {
  .link:hover {
    color: var(--color-action-hover);
  }
}
.link:active {
  color: var(--color-action-active);
}

/* underline */
.link::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  background-color: currentColor;
  height: 1px;
  width: 100%;
  transition: opacity 0.2s;
}
@media (hover: hover) {
  .link:hover::after {
    opacity: 0;
  }
}
.link:active::after {
  opacity: 0;
}

/* hitbox */
.link::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}
